# Application
NODE_ENV=development

# Backend
BACKEND_PORT=4000

# PostgreSQL
POSTGRES_DB=gatewatch
POSTGRES_USER=gatewatch
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Demo APIs
ORDER_API_PORT=3001
PRODUCT_API_PORT=3002
USER_API_PORT=3003